<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="catalognotify" instance="Ktpl\Chirag\Model\Observer" method="catalognotify" />
    </event>
</config>